# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Environment Variables
# ==========================
*.env

# ==========================
# SQL Server Database Files
# ==========================
*.mdf
*.ldf
*.ndf

# ==========================
# SQL Server Backup Files
# ==========================
*.bak

# ==========================
# Log & Temporary Files
# ==========================
*.log
*.tmp

# ==========================
# IDE Settings
# ==========================
.vscode/
.idea/

# ==========================
# Build / Cache Files
# ==========================
*.cache
